@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: #511281;
    color: white;
    padding: 10px 40px;
    align-items: center;
}

.buscador{
    grid-column: 1 / 2;
    position: relative;
    display: flex;
    align-items: center;
}

.buscador .fa-magnifying-glass {
    position: absolute;
    left: 15px;
    color: white;
}

#buscador-input{
    width: 90%;
    height: 35px;
    border-radius: 42px;
    background-color: transparent;
    border: 1px solid white;
    padding-left: 40px;
    color: white;
}

header .img{
    grid-column: 2 / 3;
    text-align: center;
}


header .img img{
    width: 60px;
}

.login{
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

.login a:hover{
    text-decoration: underline;
}

.nav{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #1a1a1a;
}

.nav a{
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

.texto{
    margin: 50px;
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: justify;
}

.texto h1{
    text-align: center;
    margin-top: 40px;
}